<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scores</title>
     <link rel="stylesheet" href="/static/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<p class="main-title">Hello {{cookie_user_name}}, total scores are:</p>
<div class="score-table">
<ul>
    <p>Attempts</p>

<li>{{attempts}}</li>

</ul>
    <ul>
        <p>Names</p>
<li>{{name}}</li>
    </ul>
        <ul>
            <p>Dates</p>

<li>{{date}}</li>

</ul>
</div>
<div class="btn-spacing">
 <a href="/" class="btn back">Go back to menu</a>
<a href="/game" class="btn back">Go back to game</a>
</div>
</body>
</html>