<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scores</title>
     <link rel="stylesheet" href="/static/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<p class="main-title">Hello
    {% if name is string %}
    {{name}}
    {% else %}
    {{name|join(', ') }}{% endif %}, total scores are:</p>
<div class="score-table">
<ul>
    <p>Attempts</p>
{% if attempts is string %}
    <li>{{ attempts}}</li>
    {% else %}
<li>{{ attempts|join(', ') }}</li>
{% endif %}
</ul>
    <ul>
        <p>Names</p>
        {% if name is string %}
        <li>{{name}}</li>
        {% else %}
<li>{{ name|join(', ') }}</li>
        {% endif %}
    </ul>
        <ul>
            <p>Dates</p>
 {% if date is string %}
            <li>{{date}}</li>
             {% else %}
<li>{{ date|join(', ') }}</li>
{% endif %}
</ul>
</div>
<div class="btn-spacing">
 <a href="/" class="btn back">Go back to menu</a>
<a href="/game" class="btn back">Go back to game</a>
</div>
</body>
</html>